body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  font-size: 10px;
}

@font-face {
  font-family: urdu_font;
  font-weight: normal;
  src: url("fonts/urdu_font.ttf");
}

@font-face {
  font-family: arabic_font;
  font-weight: normal;
  src: url("fonts/arabic_font.ttf");
}

body {
    font-family: 'urdu_font';
    color: red;
}